body{
  text-align: center;
  font-family: Open Sans,sans-serif;
  background-color: #8A71C9;
  color:#ffffff;
  margin-bottom: 30px;
}

h1{
  font-size: 50px;
  font-weight: 300;
}

h2{
  color:#bf93d9;
  font-size: 40px;

}

h3{
  font-size: 22px;
  font-style:italic;
}

.titulo-verde{
  color:#04ff9f;
}

.titulo-vermelho{
  color:#FF9E9E;
}

.titulo-amarelo{
  color:#ffe36d;
}

section{
  background-color: #40115c;
  max-width: 80%;
  margin:0 auto;
}

p{
  line-height: 1.2;
  font-size: 18px;
  margin: 30px
}

img{
  width: 60%;
}

ul{
  list-style-type: none;
  line-height: 2;
  padding-left: 0;
}

a{
  text-decoration: none;
  color: #99ffff;
  font-weight: 700;
  font-style: italic;
}

.principal{
  background: #ff6cb5;
  height: 40px;
  max-width: 80%;
  margin: 0 auto; 
 }

.principal a{
  color: #fff;
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
 }

.principal li{
  display: inline-block;
  line-height: 2.5;
  margin: 0 89px;
}

button{
  background-color:  #40115c;
  color: white;
  border: 1px solid transparent;
  padding: 2px 20px;
  border-radius: 3px;
  cursor: pointer;
}